.idcard {
    position : relative;

    min-width : 300px;
    height    : 150px;

    padding : var(--margins);

    box-sizing : border-box;
    border : 2px solid var(--mid);

    border-radius : var(--corners);
}

.idcard h1 {
    font-size : 24px;
    font-weight : 900;
}

.idcard h2 {
    color : var(--mid);
}

.idcard .buddy {
    position : absolute;

    right  : var(--margins);
    bottom : var(--margins);

    --image : url(/assets/images/cat.png);
    --image-scale : 3;

    width  : calc(16px * var(--image-scale));
    height : calc(11px * var(--image-scale));
    -webkit-mask-size : 100%;
    mask-size         : 100%;

    -webkit-mask-image : var(--image);
    mask-image         : var(--image);
    background         : var(--mid);
}

.fastlinks {
    display         : flex;
    flex-grow       : 1;

    align-items     : center;
    justify-content : center;

    text-align  : justify;

    height          : 100%;
    color : var(--mid);
    line-height : 14px;
    font-size   : 12px;
}

.datapoints .timezone {
    display    : flex;
    position   : relative;
    box-sizing : border-box;
    text-wrap  : nowrap;
    
    align-items     : flex-start;
    justify-content : center;

    width      : 100%;
    min-height : 22px;

    color  : var(--mid);

    font-size : 9px;
}

.datapoints .timezone .separator {
    width : 1px;
    background : var(--mid);
    height : 80%;
}

.datapoints .timezone .who,
.datapoints .timezone .time {
    color : var(--secondary);
    font-size : 12px;
}

.datapoints .timezone .yourtime,
.datapoints .timezone .mytime {
    display   : flex;
    width : 50%;

    align-items     : center;
    justify-content : center;
}




.datapoints .event {
    display    : flex;
    width      : 100%;
    height     : 30px;
    box-sizing : border-box;
    border : 1px solid var(--mid);
    border-bottom : none;
    border-radius : var(--corners) var(--corners) 0px 0px;
}

.projects {
    width  : 100%;
    height : 300px;
}

@media screen and (max-width: 680px) {
    .opener {
        flex-wrap : wrap;
    }

    .idcard {
        min-width : 150px;
        flex-basis : 100vw;
        flex-grow  : 1;
    }
}

@media screen and (max-width: 360px) {
    .datapoints .timezone {
        flex-direction : column;
    }

    .datapoints .timezone .separator {
        width : 80%;
        height : 1px;
    }

    .datapoints .yourtime,
    .datapoints .mytime {
        width : 100%;
        height : 30px;
    }
}