@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/100.otf') format('opentype');
    font-weight  : 100;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/200.otf') format('opentype');
    font-weight  : 200;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/300.otf') format('opentype');
    font-weight  : 300;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/400.otf') format('opentype');
    font-weight  : 400;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/500.otf') format('opentype');
    font-weight  : 500;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/600.otf') format('opentype');
    font-weight  : 600;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/700.otf') format('opentype');
    font-weight  : 700;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/800.otf') format('opentype');
    font-weight  : 800;
    font-style   : normal;
    font-display : swap;
}

@font-face {
    font-family : GeistMono;
    src : url('/assets/fonts/GeistMono/900.otf') format('opentype');
    font-weight  : 900;
    font-style   : normal;
    font-display : swap;
}