/* @font-face {
    font-family : NerdFontsSymbols;
    src : url('/assets/fonts/NerdFontsSymbols/SymbolsNerdFont-Regular.ttf') format('truetype');
    font-display : swap;
} */

@font-face {
    font-family : NerdFontsSymbolsMono;
    src : url('/assets/fonts/NerdFontsSymbols/SymbolsNerdFontMono-Regular.ttf') format('truetype');
    font-display : swap;
}